<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-title> Headers </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment
    mode="md"
    scrollable
    [value]="selectedCategory"
    (ionChange)="segmentChanged($event)"
  >
    <ion-segment-button [value]="item" *ngFor="let item of categories">
      <ion-label class="ion-text-capitalize">{{item}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <app-articles [articles]="articles"></app-articles>

</ion-content>
